html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	font-size: 16px;
	font-family: Tahoma, Verdana, sans-serif;
	background-image: linear-gradient(to top, #dfe9f3, #8abef1);
}
.titulo{
   line-height: 2;
   background-image: url(../images/black-diamonds.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   
}
h1, h2{
	text-align: center;
	color: #ffffff;
   font-family: "Charm", cursive, Foldit, Bodoni Moda, Philosopher, sans-serif;
  font-weight: 700;
  font-style: normal;
   
}
.colorn {
   color: #010101;
}
h3 {
   text-align: center;
   color: #ffffff;
   font-weight: 700;
   font-style: normal;
}
.imgen{
	background-image: url(../images/Joyeria2.jpg);
	 background-repeat: no-repeat;
   background-size: cover;
    height: 450px;
   padding: 20px;
   position: relative;

   margin-bottom: 2rem;
}
.imgperfil{
   width: min(300px, 50%);
   height: 300px;
}
.perfil{
	position: absolute;
   /*hacer transparencia
   background-color: rgba(0, 0, 0,.7);*/
   
   
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.perfil h2, .perfil h3{
	color: #ffffff;
   
}
.nav{
	display: flex;
	flex-direction: column;
}
.navegacion{
	text-align: center;
	background-color: #17C6DB;
	padding: 1rem;
   display: block;
   justify-content: space-between;
}
.navegacion a{
	color: #ffffff;
   text-decoration: none;
   font-size: 1.5rem;
   font-weight: bold;
   padding: 1rem;
   text-align: center;
   margin: 1rem;
}
.navegacion a:hover{
	 background-color: #E28D26 ;
   color: #010101;
   border-radius: 1rem;
   justify-content: center;
}
.contenedor{
   max-width: 100rem;
   margin-top: 0rem;
   margin-right: auto;
   margin-bottom: 1rem;
   margin-left: auto;
   background-image: linear-gradient(to top, #8abef1, #dfe9f3 );
}
.sombra{
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

   -webkit-box-shadow: 0px 5px 15px 0px rgba(82,79,82,1);
   -moz-box-shadow: 0px 5px 15px 0px rgba(82,79,82,1);
    box-shadow: 0px 5px 15px 0px rgba(82,79,82,1);

    padding: 2rem;
    border-radius: 1rem;
}
.contenedores {
   max-width: 115rem;
   margin-top: 0rem;
   margin-right: auto;
   margin-bottom: 1rem;
   margin-left: auto;
   background-image: linear-gradient(to top, #8abef1, #dfe9f3 );
}
.sombras{
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

   -webkit-box-shadow: 0px 5px 15px 0px rgba(82,79,82,1);
   -moz-box-shadow: 0px 5px 15px 0px rgba(82,79,82,1);
    box-shadow: 0px 5px 15px 0px rgba(82,79,82,1);

    padding: 2rem;
    border-radius: 1rem;
}
.servicio{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.servicio h3{
   color: var(--secundario);
   font-weight: normal;
}
.servicio p{
   color: var(--oscuro);
   text-align: center;
   line-height: 2;
}
.legend {
   text-align: center;
   font-size: 1.6rem;
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 2rem;
 }
.subtitulo{
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 700;
   margin-top: 1.5rem;
}
.enfasis{
	font-weight: 700;
}
.formulario{
   width: min(700px, 100%);
    padding: 1rem;
	background-color: #180e01;
	color: #ffffff;
   border-radius: 1rem;
   text-align: center;
   margin: 0 auto;
}
.formulario fieldset{
   border: none;
}
.campo {
	margin-bottom: 0.6rem;
}
.campo label {
   font-weight: bold;
   margin-bottom: 0.5rem;
   display: block;
}
.input-text {
   border: none;
   border-radius: 0.5rem;
   padding: 1rem;
   width: 50%;
}

.error {
   background-color: rgb(184, 3, 3);
   text-align: center;
   padding: 0.5rem;
   color: #ffffff;
   text-transform: uppercase;
   border-radius: 0.5rem;
}

.correcto {
   background-color: rgb(24, 131, 3);
   text-align: center;
   padding: 0.5rem;
   color: #ffffff;
   text-transform: uppercase;
   border-radius: 0.5rem;
}
.boton{
   background-color: #17C6DB;
   color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
   padding: 1rem 3rem;
   border-radius: 5px;
   font-size: 1.2rem;
   font-weight: bold;
   margin-bottom: 0.5rem;
   border: none;
}
.boton:hover{
   cursor: pointer;
}
.pie{
	text-align: center;
	background-image: url(../images/buttom3.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
	color: #ffffff;
	padding: 0.5rem;
}
.img{
   	width: 36px;
}
/*api css*/
.maincontent{
   padding-top: 0%;
   padding-left:0%;
 }
 
 .col {
   padding: 1%;
 }
 .col-lg{
     height: 200px;
     overflow: hidden;
     margin: 10px 0;
     position: relative;
     flex-basis: 30%;
 }
 
   /* Images crop and center to col-lg box up to 1000% centering (if 100% if it's 3x the size it doesn't fully center)Idk man why? projectors and stuff? */
 .col-lg img{
   display:grid;
     position: absolute;
     left: -1000%;
     right: -1000%;
     top: -1000%;
     bottom: -1000%;
     margin: auto;
     min-height: 100%;
     min-width: 100%;
 }
 .imgrid {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

@media (min-width: 480px){
   .cuadricula {
      display: grid;
      grid-template-columns: 50% 50%;
      columns: 1rem;
      align-items: center;
      text-align: center;
      margin: 1rem;
      justify-items: center;
   }
   .legend {
      text-align: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 2rem;
   }
   .colorn {
      color: #010101;
   }
   
}

/*vista tablet*/
@media (min-width: 768px){
   .barra{
      display: flex;
      align-items: center;
      justify-content: space-around;
   }
   
   .navegacion{
      flex-direction: row;
      justify-content: space-between;
   }
.carrusel{
   width: 900px;
   height: 300px;
   align-items: center;
   margin: 1rem;
}
.colorn {
   color: #ffffff;
}
/*vista de servicios*/
.servicios{
   display: grid;
  grid-template-columns: 33% 33% 33%;
  columns: 1rem;
 }
 .cuadricula {
   display: grid;
   grid-template-columns: 33% 33% 33%;
   columns: 1rem;
   align-items: center;
   text-align: center;
   margin: 1rem;
   justify-items: center;
 }
 .legend {
   text-align: center;
   font-size: 1.6rem;
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 2rem;
 }
 .campoform {
   padding: 1rem;
	background-color: #180e01;
	color: #ffffff;
   border-radius: 1rem;
   text-align: center;
   margin: 0 auto;
}

.campo:nth-child(3), .campo:nth-child(4){
   grid-column: 1 / 3;
}
}
/*portatil*/
@media (min-width: 1140px){
   .cuadricula {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      columns: 1rem;
      align-items: center;
      text-align: center;
      margin: 1rem;
      justify-items: center;
    }

}
/*escritorio*/
@media (min-width: 1400px){
   .cuadricula {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      columns: 1rem;
      align-items: center;
      text-align: center;
      margin: 1rem;
      justify-items: center;
    }

}